openapi: 3.0.0
info:
  title: Travel Social Network API
  version: 1.0.0
  description: API for social network designed for travelers

servers:
  - url: https://api.travel-network.com/v1
    description: Production server

paths:
  /posts:
    post:
      summary: Create a new post
      tags:
        - Posts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - location
                - photos
              properties:
                description:
                  type: string
                  maxLength: 250
                location:
                  type: string
                photos:
                  type: array
                  items:
                    type: string
                    format: uri
                  maxItems: 5
                  example: ["https://cdn.travel-network.com/photo1.jpg"]
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid input data

    get:
      summary: Get user's feed
      tags:
        - Posts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: User feed retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  total:
                    type: integer
                  hasMore:
                    type: boolean

  /posts/{postId}:
    get:
      summary: Get specific post
      tags:
        - Posts
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          description: Post not found

  /posts/{postId}/comments:
    post:
      summary: Add comment to post
      tags:
        - Comments
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  maxLength: 250
      responses:
        '201':
          description: Comment added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '404':
          description: Post not found

    get:
      summary: Get post comments
      tags:
        - Comments
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
                  total:
                    type: integer

  /posts/{postId}/likes:
    post:
      summary: Like a post
      tags:
        - Likes
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Post liked successfully
        '404':
          description: Post not found

    delete:
      summary: Remove like from post
      tags:
        - Likes
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Like removed successfully
        '404':
          description: Post not found

  /users/{userId}/subscribe:
    post:
      summary: Subscribe to user
      tags:
        - Subscriptions
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Subscribed successfully
        '404':
          description: User not found

    delete:
      summary: Unsubscribe from user
      tags:
        - Subscriptions
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Unsubscribed successfully
        '404':
          description: User not found

  /search/locations:
    get:
      summary: Search popular locations
      tags:
        - Search
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: Locations found
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'

  /search/posts:
    get:
      summary: Search posts by location
      tags:
        - Search
      parameters:
        - name: location
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: Posts found
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  total:
                    type: integer
                  hasMore:
                    type: boolean

components:
  schemas:
    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        description:
          type: string
        location:
          type: string
        photos:
          type: array
          items:
            type: string
            format: uri
        createdAt:
          type: string
          format: date-time
        likesCount:
          type: integer
        commentsCount:
          type: integer
        user:
          $ref: '#/components/schemas/User'

    Comment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        postId:
          type: string
        text:
          type: string
        createdAt:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        avatar:
          type: string
          format: uri

    Location:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        country:
          type: string
        postCount:



          type: integer
        photo:
          type: string
          format: uri
